.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.music {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  font-family: "Metal Mania";
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 50px;
  width: 36%;
  margin: auto;
}
